<a href="https://colab.research.google.com/github/gondonhi1337/Mikhail-Dolidovich/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Раздел 1 Форма

In [3]:
#@title Форма 1
#@markdown <hr>
#@markdown
name = "Petr Pidor" #@param {type:"string"}
group = "КИ19-20Б" #@param ["КИ19-20Б", "КИ19-21Б", "КИ19-22Б", "КИ19-23Б", "КИ19-24Б"]
date = "2021-02-20" #@param {type:"date"}
#@markdown ---
#@markdown Выберите галочку чтобы вывести дополнительную информацию
checked = True #@param {type:"boolean"}
age = 20 #@param {type:"integer"}
year_study = 1 #@param {type:"slider", min:"1", max:"6"}
average_grade = 5 #@param {type:"slider", min:"1", max:"5"}

if name =="":
  print("Введите имя")
else:
  print("ФИО:", name)
  print("Группа:", group)
  print("Дата:", date)
if checked:
  print("Возраст:", age)
  print("Курс:", year_study)
  print("Средняя оценка:", average_grade)

ФИО: Petr Pidor
Группа: КИ19-20Б
Дата: 2021-02-20
Возраст: 20
Курс: 1
Средняя оценка: 5

### Раздел 2 Таблица

In [12]:
import pandas as pd

In [13]:
data1 = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [14]:
print(data1)

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [15]:
data2 = pd.read_csv("/content/sample_data/mnist_test.csv")

In [16]:
print(data2)

      7  0  0.1  0.2  0.3  0.4  ...  0.662  0.663  0.664  0.665  0.666  0.667
0     2  0    0    0    0    0  ...      0      0      0      0      0      0
1     1  0    0    0    0    0  ...      0      0      0      0      0      0
2     0  0    0    0    0    0  ...      0      0      0      0      0      0
3     4  0    0    0    0    0  ...      0      0      0      0      0      0
4     1  0    0    0    0    0  ...      0      0      0      0      0      0
...  .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
9994  2  0    0    0    0    0  ...      0      0      0      0      0      0
9995  3  0    0    0    0    0  ...      0      0      0      0      0      0
9996  4  0    0    0    0    0  ...      0      0      0      0      0      0
9997  5  0    0    0    0    0  ...      0      0      0      0      0      0
9998  6  0    0    0    0    0  ...      0      0      0      0      0      0

[9999 rows x 785 columns]

Долидович М.А. КИ19-20Б. 20.02.2021